<section class="bg-gray-900">
    <div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
        <div class="max-w-screen-md">
            <h2 class="mb-4 text-2xl tracking-tight font-extrabold text-white">Misión</h2>
            <p class="texto-just mb-8 font-light sm:text-xl text-gray-400">Liga Las Flores tiene como propósito brindar una plataforma competitiva y profesional para el desarrollo del baloncesto local, fomentando la sana competencia y el respeto a través de reglas claras y una gestión transparente. Ofrecemos un espacio seguro y de calidad donde tanto jugadores experimentados como principiantes pueden desarrollarse, mientras las familias disfrutan de un entorno de entretenimiento y participación comunitaria.</p>
            <h2 class="mb-4 text-2xl tracking-tight font-extrabold text-white">Visión</h2>
            <p class="texto-just mb-8 font-light sm:text-xl text-gray-400">Ser la liga de baloncesto referente en la región en los próximos 5-10 años, reconocida por su profesionalismo, instalaciones deportivas de alto nivel y por formar jugadores destacados. Buscamos impactar positivamente a la comunidad, fomentar el compromiso de los jóvenes con el baloncesto, y ofrecer una experiencia integral tanto para los jugadores como para los aficionados. Además, aspiramos a establecer una academia de baloncesto y crear alianzas a nivel local e internacional que impulsen el desarrollo del deporte.</p>
            
        </div>
    </div>
</section>