<div class="calendar-container" *ngFor="let jornada of season">
  <h2>{{jornada.nombre}}</h2>
  <div class="calendar">
    <!-- Partido 1 -->
    <div class="match" *ngFor="let juego of jornada.juegos">
      <div class="teams">
        <div class="team">
          <!--<img src="girona.png" alt="Girona"> -->
          <span>{{juego.local}}</span>
          <span class="marcador">{{juego.mlocal}}</span>
        </div>
        <div class="team">
          <!--<img src="valladolid.png" alt="Valladolid">-->
          <span>{{juego.visita}}</span>
          <span class="marcador">{{juego.mvisita}}</span>
        </div>
      </div>
      <div class="details">
        <span>{{jornada.fecha}}</span>
        <span>{{juego.hora}}</span>
      </div>
    </div>
  </div>
</div>